{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{title}}{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{% endfor %}
<ul>
    {% for error in errors%}
    <li>{{error}}</li>
    {% endfor %}
</ul>

<div class="container">
    <h1>{{title}}</h1>
    <form method="POST">
        {{wtf.quick_form(form)}}
    </form>
</div>
{% endblock %}
