{% extends 'base.html' %}
{% block content %}
    <div class="d-flex mb-4 align-items-center justify-content-around">
        <h1>Book Collection</h1>
        <a class="btn btn-secondary" href="{{ url_for('main.add_book') }}">Add Book</a>
    </div>
    <div class="row d-flex justify-content-center">
        {% for book in books %}
            <div class="col-md-2 m-4 d-flex">
                {{ macros.book_card(book) }}
            </div>
        {% endfor %}
{% endblock content %}
{% import 'macro/book_card.html' as macros %}
