{% extends 'base.html' %}
{% block content %}
<div class="container d-flex gap-5 align-items-center">
    <img src="{{ url_for('static',filename='images/'+ book.image)}}" />
    <div>
        <h2>{{book.title}}</h2>
        <hr>
        <p>$ {{book.price}}</p>
        <p>Author: <a href="{{ url_for("author_details", id=author.id)  }}">{{author.name}}</a></p>
        <p>Publishing Date: {{book.publish_date}}</p>
        <p>Addied Date: {{book.add_to_site_at}}</p>
        <p>Appropriate for: {{book.appropriate_for}}</p>
        <a class="btn btn-secondary" href="{{url_for('home')}}">Go Back</a>
    </div>  
</div>
{% endblock content %}