<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        {% block head %}{% endblock head %}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function confirmDelete(event) {
                event.preventDefault();  // Prevent form submission
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Submit the form if the user confirms
                        event.target.submit();}
                });
            }
        </script>
</head>
<body>
    <header>
        <a href="{{ url_for('main.home') }}">Home</a>
        <a href="{{ url_for('main.authors') }}">Authors</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </header>
    {% for message in get_flashed_messages() %}
    <div id="alert-message" class="alert alert-success col-3" style="position: fixed; left: 50%; transform: translate(-50%, 0); text-align: center;" role="alert">
        {{message}}
    </div>
    {% endfor %}

    {% block content%}{% endblock content %}
    <footer>
        <div >
            <h4>Eng. Ibrahim Shahin</h4>
            <h6>&copy;all rights reserved 2025</h6>
        </div>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const alertMessage = document.getElementById("alert-message");

        if (alertMessage) {
            setTimeout(function () {
                alertMessage.style.display = "none"; // Hide the alert
            }, 2000); // 2000 milliseconds = 2 seconds
        }
    });

    </script>
</body>
</html>
